{#{% extends "TunisiaMallBundle:admin:templateadmin.html.twig" %}#}
{% extends "TunisiaMallBundle::templateadmin.html.twig" %}

{% block robots %}


    <section id="content">
        <link rel="stylesheet" href="{{ asset('assets/css/vendor/promotion.css') }}">
        <div class="page page-tables-datatables">

            <div class="pageheader">
                <br>


                <div id="titreajout">Ajouter un Evenement</div>


            </div>

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">


                    <section class="tile">

                        <!-- tile header -->
                        <div >


                        </div>
                        <!-- /tile header -->



                        <div class="content">
                            {{ form_start(formulaire) }}

                            <div>

                                {{ form_label(formulaire.nom) }} :
                                {{ form_widget( formulaire.nom,{'attr': {'class':'form-control'}}   ) }}
                            </div>


                            <div>

                                {{ form_label(formulaire.description) }} :
                                {{ form_widget( formulaire.description,{'attr': {'class':'form-control'}}   ) }}
                            </div>





                            <div>
                                {{ form_label(formulaire.date) }} :
                                {{ form_widget( formulaire.date   ) }}
                            </div>
                            <div>

                                {{ form_label(formulaire.imageFile) }} :
                                {{ form_widget( formulaire.imageFile   ) }}

                            </div>



                            <div>
                                {{ form_label(formulaire.idUser) }} :
                                {{ form_widget( formulaire.idUser,{'attr': {'class':'form-control'}}   ) }}
                            </div>




                            <div>
                                {{ form_widget( formulaire.ajouter,{'attr': {'class':'form_ajouter'}}  ) }}

                            </div>
                            {{ form_end(formulaire) }}

                        </div>

                        <!-- /tile body -->

                    </section>
                </div>
            </div>
        </div>


    </section>





{% endblock robots %}
