{#{% extends "TunisiaMallBundle:admin:templateadmin.html.twig" %}#}
{% extends "TunisiaMallBundle::templateadmin.html.twig" %}
{% block robots %}
    {{ form_start(formulaire) }}
    <section id="content">

        <div class="page page-forms-common">


            <!-- row -->
            <div class="row">


                <!-- col -->
                <div class="col-md-12">

                    <!-- tile -->
                    <section class="tile">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><strong>Evenement </strong>Ajout</h1>
                            <ul class="controls">
                                <li class="dropdown">

                                    <a role="button" tabindex="0" class="dropdown-toggle settings"
                                       data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </a>

                                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                        <li>
                                            <a role="button" tabindex="0" class="tile-toggle">
                                                <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" tabindex="0" class="tile-refresh">
                                                <i class="fa fa-refresh"></i> Refresh
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" tabindex="0" class="tile-fullscreen">
                                                <i class="fa fa-expand"></i> Fullscreen
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                                <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                                                class="fa fa-times"></i></a></li>
                            </ul>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->

                        <table class="table table-custom">
                            <thead>
                            <tr class="odd gradeX">
                                <th>date debut</th>
                                <td >{{ form_widget(formulaire.date_debut) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>date fin</th>
                                <td>{{ form_widget(formulaire.date_fin) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>prix</th>
                                <td>{{ form_widget(formulaire.prix) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>page</th>
                                <td>{{ form_widget(formulaire.page) }}</td>
                                {#<td><input type="file" name="files[]" "></td>#}
                            </tr>
                            <tr class="odd gradeX">
                                <th>path</th>
                                <td>{{ form_widget(formulaire.imageFile) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>boutique</th>
                                <td>{{ form_widget(formulaire.idBoutique) }}</td>
                            </tr>

                            <tr>
                                <th style="width: 160px;" class="no-sort">Actions</th>
                                <td>{{ form_widget(formulaire.ajouter) }}</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>


                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col -->


            </div>
            <!-- /row -->


        </div>
        <!-- /tile body -->

    </section>





    {{ form_end(formulaire) }}
{% endblock robots %}
