{% extends "TunisiaMallBundle::templateadmin.html.twig" %}

{% block robots %}


    <section id="content">
        <link rel="stylesheet" href="{{ asset('assets/css/vendor/promotion.css') }}">
        <div class="page page-tables-datatables">

            <div class="pageheader">
                <br>


                <div id="titreajout">Ajouter Boutique</div>


            </div>

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">


                    <section class="tile">

                        <!-- tile header -->
                        <div >


                        </div>
                        <!-- /tile header -->



                        <div class="content">
                            {{ form_start(formulaire) }}

                            <div>

                                {{ form_label(formulaire.nom) }} :
                                {{ form_widget( formulaire.nom,{'attr': {'class':'form-control'}}   ) }}
                            </div>


                            <div>

                                {{ form_label(formulaire.type) }} :
                                {{ form_widget( formulaire.type,{'attr': {'class':'form-control'}}   ) }}
                            </div>





                            <div>
                                {{ form_label(formulaire.position) }} :
                                {{ form_widget( formulaire.position,{'attr': {'class':'form-control'}}   ) }}
                            </div>
                            <div>

                                {{ form_label(formulaire.datecreation) }} :
                                {{ form_widget( formulaire.datecreation,{'attr': {'class':'form-control'}}   ) }}

                            </div>

                            <div>
                                {{ form_label(formulaire.dateexpiration) }} :
                                {{ form_widget( formulaire.dateexpiration,{'attr': {'class':'form-control'}}   ) }}

                            </div>



                            <div>

                                {{ form_widget( formulaire.ajouter,{'attr': {'class':'form_ajouter'}}  ) }}





                            </div>
                            {% if etat == -1 %}

                                <script>alert("Erreur: Date creation superieur au date expiration!");</script>


                            {% endif %}

                            {{ form_end(formulaire) }}

                        </div>


                        <!-- /tile body -->

                    </section>
                </div>
            </div>
        </div>



 {{ form_end(formulaire) }}
        {% endblock robots %}