{#{% extends "TunisiaMallBundle::layout.html.twig" %}#}
{% extends "TunisiaMallBundle::templateC.html.twig" %}

{% block client_event %}
    <table class="table table-custom" id="editable-usage">
        <thead>
        <tr>
            <th>nom</th>
            <th>description</th>
            <th>date</th>
            <th>path</th>
            <th>user</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr class="odd gradeX">
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.date | date("d-m-y") }}</td>
                <td><img src="{{ asset('images/amine/') ~ evenement.path }}"
                         alt=""
                         width="75"
                         height="75"
                    >
                </td>
                <td>{{ evenement.idUser.nom }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock client_event %}