{% extends "TunisiaMallBundle::templateadmin.html.twig" %}

{% block robots %}

    <section id="content">
        <div class="page page-tables-datatables">

            <div class="pageheader">

                <h2>Boutiques <span>// You can place subtitle here</span></h2>


            </div>

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">


                    <section class="tile">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><strong>Editable</strong> Usage</h1>
                            <ul class="controls">
                                <li>
                                    <a role="button" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i> Add
                                        Entry</a>
                                </li>
                                <li class="dropdown">

                                    <a role="button" tabindex="0" class="dropdown-toggle settings"
                                       data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </a>

                                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                        <li>
                                            <a role="button" tabindex="0" class="tile-toggle">
                                                <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" tabindex="0" class="tile-refresh">
                                                <i class="fa fa-refresh"></i> Refresh
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" tabindex="0" class="tile-fullscreen">
                                                <i class="fa fa-expand"></i> Fullscreen
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                                <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                                                class="fa fa-times"></i></a></li>
                            </ul>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body">
                            <div class="table-responsive">
                                <table class="table table-custom" id="editable-usage">
                                    <thead>
                                    <tr>
                                        <th>nom</th>
                                        <th>type</th>
                                        <th>position</th>


                                        <th style="width: 160px;" class="no-sort">Actions</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for boutique in boutiques %}
                                        <tr class="odd gradeX">
                                            <td>{{ boutique.nom}}</td>
                                            <td>{{ boutique.type }}</td>
                                            <td>{{ boutique.position }}</td>
                                            <td><a href="{{ path('tunisia_mall_modifier_boutique',
                                                {'id':boutique.idBoutique}) }}">mise à jour</a></td>
                                            <td><a href="{{ path('tunisia_mall_supprimer_boutique',
                                                {'id':boutique.idBoutique}) }}">suppression</a></td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /tile body -->

                    </section>
                </div>
            </div>
        </div>

    </section>
{% endblock robots%}
