<h2>liste des evenements</h2>
<table border="1px">
    <tr>
        <td>nom</td>
        <td>description</td>
        <td>date</td>
        <td>path</td>
        <td>user</td>
        <td>mise à jour</td>
        <td>suppression</td>
    </tr>
    {% for evenement in evenements %}
        <tr>
            <td>{{ evenement.nom}}</td>
            <td>{{ evenement.description }}</td>
            <td>{{ evenement.date | date("d-m-y")}}</td>
            <td>{{ evenement.path }}</td>
            <td>{{ evenement.idUser.nom }}</td>
            <td><a href="{{ path('tunisia_mall_modifier_evenement',
                {'id':evenement.idEvenement}) }}">mise à jour</a></td>
            <td><a href="{{ path('tunisia_mall_supprimer_evenement',
                {'id':evenement.idEvenement}) }}">suppression</a></td>
        </tr>
    {% endfor %}
</table>