{% include "TunisiaMallBundle:shop:templateshopowner.html.twig" %}
{% block robots %}

    <section id="content">
        <link rel="stylesheet" href="{{ asset('assets/css/vendor/promotion.css') }}">
        <div class="page page-tables-datatables">

            <div class="pageheader">
                <br>


                <div id="titreajout">Ajouter un Offre d'emploi</div>


            </div>

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">


                    <section class="tile">

                        <!-- tile header -->
                        <div >


                        </div>
                        <!-- /tile header -->



                        <div class="content">
                            {{ form_start(form) }}

                            <div>

                                {{ form_label(form.poste) }} :
                                {{ form_widget(form.poste,{'attr': {'class':'form-control'}}   ) }}
                            </div>

                            <div>

                                {{ form_label(form.specialite) }} :
                                {{ form_widget(form.specialite,{'attr': {'class':'form-control'}}   ) }}
                            </div>

                            <div>

                                {{ form_label(form.salaire) }} :
                                {{ form_widget(form.salaire,{'attr': {'class':'form-control'}}   ) }}
                            </div>

                            <div>

                                {{ form_label(form.nbrDemande) }} :
                                {{ form_widget(form.nbrDemande,{'attr': {'class':'form-control'}}   ) }}
                            </div>

                            <div>

                                {{ form_label(form.dateExpiration) }} :
                                {{ form_widget(form.dateExpiration,{'attr': {'class':'form-control'}}   ) }}
                            </div>


                            <div>
                                {{ form_widget( form.Save,{'attr': {'class':'form_ajouter'}}  ) }}

                            </div>
                            {{ form_end(form) }}

                        </div>

                        <!-- /tile body -->

                    </section>
                </div>
            </div>
        </div>


    </section>





    <!--/ Page Specific Scripts -->
{% endblock robots %}
