{% extends "TunisiaMallBundle::templateadmin.html.twig" %}
{% block robots %}

    {{ form_start(form) }}
    <section id="content">

        <div class="page page-forms-common">


            <!-- row -->
            <div class="row">


                <!-- col -->
                <div class="col-md-6">

                    <!-- tile -->
                    <section class="tile">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><strong>Offre emploi </strong>Ajout</h1>
                            <ul class="controls">
                                <li class="dropdown">

                                    <a role="button" tabindex="0" class="dropdown-toggle settings"
                                       data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </a>

                                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                        <li>
                                            <a role="button" tabindex="0" class="tile-toggle">
                                                <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" tabindex="0" class="tile-refresh">
                                                <i class="fa fa-refresh"></i> Refresh
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" tabindex="0" class="tile-fullscreen">
                                                <i class="fa fa-expand"></i> Fullscreen
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                                <li class="remove"><a role="button" tabindex="0" class="tile-close"><i
                                                class="fa fa-times"></i></a></li>
                            </ul>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->

                        <table class="table table-custom" >
                            <thead>
                            <tr class="odd gradeX">
                                <th>Poste</th>
                                <td>{{ form_widget(form.poste) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>Spécialité</th>
                                <td>{{ form_widget(form.specialite) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>Salaire</th>
                                <td>{{ form_widget(form.salaire) }}</td>
                            </tr>

                            <tr class="odd gradeX">
                                <th>Nombre demandé</th>
                                <td>{{ form_widget(form.nbrDemande) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>Date expiration</th>
                                <td>{{ form_widget(form.dateExpiration) }}</td>
                            </tr>
                            <tr class="odd gradeX">
                                <th>Boutique</th>
                                <td>{{ form_widget(form.Boutique) }}</td>
                            </tr>

                            <tr>

                                <td><input type="submit" value="Ajouter"></td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col -->


            </div>
            <!-- /row -->


        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->




    <!--/ CONTENT -->
    {{ form_end(form) }}

{% endblock robots %}