{% extends 'TunisiaMallBundle::templateC.html.twig' %}

{% block pleasework %}

  <div class="new_arrivals_agile_w3ls_info">
  <div class="container">
  <h3 class="wthree_text_info">Offre emploi <span>Liste</span></h3>

  <ul class="resp-tabs-list">
    <li></li>
  </ul>
  <div class="resp-tabs-container">
  <!--/tab_one-->
    <div class="bs-docs-example">
      <table class="table table-hover">

    <thead>
    <tr>

      <th><div class="contact-right">
          <p>Poste </p> </div></th>
      <th><div class="contact-right">
          <p>Specialité </p> </div></th>
        {#   <th>Salaire</th>
           <th>Nombre demandé</th>
           <th>Date expiration</th>#}

           <th></th>

         </tr>
         </thead>
         <tbody>
         {% for offreEmploi in offreEmplois %}
           <tr>


             <td>{{ offreEmploi.poste }}</td>
             <td>{{ offreEmploi.specialite }}</td>
            {# <td>{{ offreEmploi.salaire }}</td>
             <td>{{ offreEmploi.nbrDemande }}</td>
             <td>{% if offreEmploi.dateExpiration %}{{ offreEmploi.dateExpiration|date('Y-m-d') }}{% endif %}</td>
     #}
        <td>
        {# <li>
          <a href="{{ path('ajouterDemande', { 'idOffre': offreEmploi.idOffre }) }}"> Poster demande</a>
          </li>#}

          <a href="{{ path('clientoffredetails', { 'idOffre': offreEmploi.idOffre }) }}" > Details </a>

         </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


  </div>
  </div>
  </div>
  </div>



{% endblock %}